.info {
  width: 400px;

  &__title {
    font-size: 18px;
    margin-bottom: $base-margin + 5px;
    font-weight: 500;
    font-weight: bold;
  }

  &__block {
    margin-bottom: $base-margin + 5px;
    display: flex;
    align-items: center;
  }

  &__label {
    margin-right: $base-margin;
    font-weight: bold;
  }

  &__value {
    flex: 1;

    &--text {
      padding: ($base-padding - 2px) $base-padding;
      width: 200px;
      height: 20px;
    }

    &--checkbox{
      width: 20px;
      height: 20px;
      flex: none;
    }
  }

}
