.contact {
  .contact__details {

  }

  .contact__block {
    margin-bottom: 15px;
    display: flex;
    align-items: top;

    .contact__label {
      font-weight: bold;
      margin-right: 15px;
    }

    .contact__value {

    }
  }

  .contact__buttons {

  }
}
