<div class="info">
  <div class="info__title">Contact Crisis Center</div>
  <div class="info__title" *ngIf="details">
    {{ details }}
  </div>
  <div class="info__block">
    <label class="info__label">Message: </label>
    <textarea class="info__value info__value--textarea" [(ngModel)]="message" rows="10" cols="35" [disabled]="sending"></textarea>
  </div>
  <div class="info__block" *ngIf="!sending">
    <button (click)="send()">Send</button>
    <button (click)="cancel()">Cancel</button>
  </div>
</div>
