<div class="info" *ngIf="crisis">
  <div class="info__title">"{{ editName }}"</div>
  <div class="info__block">
    <label class="info__label">Id: </label>
    <span class="info__value info__value--readonly">{{ crisis.id }}</span>
  </div>
  <div class="info__block">
    <label class="info__label">Name: </label>
    <input class="info__value info__value--text" [(ngModel)]="editName" placeholder="name"/>
  </div>
  <div class="info__block">
    <button class="button" (click)="save()">Save</button>
    <button class="button back" (click)="cancel()">Cancel</button>
  </div>
</div>
