<h1>Angular Router</h1>
<nav class="menu">
  <a class="menu__item" routerLink="/crisis-center" routerLinkActive="menu__item--active">Crisis Center</a>
  <a class="menu__item" routerLink="/superheroes" routerLinkActive="menu__item--active">Heroes</a>
  <a class="menu__item" routerLink="/admin" routerLinkActive="menu__item--active">Admin</a>
  <a class="menu__item" [routerLink]="[{ outlets: { popup: ['compose'] } }]">Contact</a>
</nav>
<div [@routeAnimation]="getAnimationData(routerOutlet)">
  <router-outlet #routerOutlet="outlet"></router-outlet>
</div>
<router-outlet name="popup"></router-outlet>
