<div class="dashboard">
  <h2>Dashboard</h2>

  <div class="dashboard__block">
    <label class="dashboard__label">SessionId: </label>
    <span class="dashboard__value dashboard__value--text">{{sessionId | async}}</span>
  </div>

  <div class="dashboard__block">
    <label class="dashboard__label">Token: </label>
    <span class="dashboard__value dashboard__value--text">{{token | async}}</span>
  </div>

  <div class="dashboard__block">
    <label class="dashboard__label">Preloaded modules: </label>
    <ul class="dashboard__value dashboard__value--list">
      <li *ngFor="let module of modules">{{module}}</li>
    </ul>
  </div>


