<h2>HEROES</h2>
<div class="info" *ngIf="hero$ | async as hero">
  <div class="info__title">"{{ hero.name }}"</div>
  <div class="info__block">
    <label class="info__label">Id: </label>
    <span class="info__value info__value--readonly">{{ hero.id }}</span>
  </div>
  <div class="info__block">
    <label class="info__label">Name: </label>
    <input class="info__value info__value--text" [(ngModel)]="hero.name" placeholder="name"/>
  </div>
  <div class="info__block">
    <label class="info__label">Color: </label>
    <input  class="info__value info__value--text" [(ngModel)]="hero.color" placeholder="color"/>
  </div>
  <div class="info__block">
    <label class="info__label">Holiday: </label>
    <input class="info__value info__value--checkbox" [(ngModel)]="hero.isHoliday"  type="checkbox" placeholder="holiday"/>
  </div>
  <p>
    <button class="button back" (click)="gotoHeroes(hero)">Back</button>
  </p>
</div>

