@import 'assets/scss/list.scss';
@import 'assets/scss/menu.scss';
@import 'assets/scss/info.scss';
@import 'assets/scss/variables.scss';

/* Global Styles */

body {
  margin: $base-margin*3;
  font-family: Cambria, Georgia, serif;

  h1 {
    color: #369;
    font-family: $base-fontfamily;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: $base-fontfamily;
    font-weight: lighter;
  }

  body, input[text], button {
    color: #333;
    font-family: $base-fontfamily;
  }

  a {
    cursor: pointer;
  }

  button {
    font-family: $base-fontfamily;
    background-color: #eee;
    border: none;
    padding: $base-padding $base-padding*2;
    border-radius: $base-radius;
    cursor: pointer;
    margin-right: $base-margin + 5px;

    &:hover {
      background-color: #cfd8dc;
    }

    &:disabled {
      background-color: #eee;
      color: #aaa;
      cursor: auto;
    }
  }


}
/* end Global Styles */













